VITE_API_URL=http://localhost:3001

PORT=3001
ALLOWED_ORIGINS=http://localhost:5173,https://godrealm.netlify.app
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/godrealm
MONGODB_DB=godrealm

HUBTEL_CLIENT_ID=
HUBTEL_CLIENT_SECRET=
HUBTEL_CALLBACK_URL=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_WEBHOOK_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=godrealm
